#global{
    background: #1F87C4;
}

body{
    background: url(/img/cielo.jpg);     
    background-attachment: fixed;
}

#logo{
    background: #1F87C4;
}

#menu{
    background-color: #1F87C4;
}

#menu ul li:hover{
    background: #1F87C4;
}

.button-more{
    background: #1F87C4;
}

#sidebar h4 span{
    background: #1F87C4;
    padding: 5px;
}

#sidebar h4{
    background: url(/img/lines.png) repeat-x;
}

form input[type="submit"]{
    background: #1F87C4;
}

form input[type="submit"]:hover{
    background: #1F87C4;
}

footer{
    background: rgba(0, 0, 0, 0.297);
}